html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

/* Main Header */
#main-header {
  /* background: #fff; */
  background: transparent;
  color: #fff;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 2.2rem;
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 1s;
}

#main-header.scroll-header {
  transition: all 1s;
  background: #fff;
  color: #264d73;
}

#main-header.scroll-header a {
  color: #264d73;
  border: 2px solid transparent;
  transition: border 0.3s;
}

#main-header.scroll-header a:hover {
  border: 2px solid #264d73;
}

#main-header img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 1.5rem;
}

#main-header .hamburger {
  margin-left: auto;
  font-size: 1.6rem;
  cursor: pointer;
}

#main-header .nav-links {
  display: none;
}
#secondary-header {
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;
  padding: 1.5rem;
  background: #262626;
  transition: all 0.3s;
  transform: translateY(-20px);
  opacity: 0;
}

#secondary-header.toggle {
  transform: translateY(0px);
  opacity: 0.6;
}

#secondary-header .nav-links {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: center;
}

#secondary-header li:not(:last-child) {
  margin-right: 2rem;
}

#secondary-header a {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f5f5;
}

/* Tag-line */
.tag-line {
  background-image: 
    linear-gradient(to bottom right, rgba(38, 77, 115,1), rgba(0,0,0,0.6)),
    url("https://lh3.googleusercontent.com/fwTUqH6SHL0lXU4K7ovNb3KdeSoJeQ69AeMAHVKqZ43U89cdGXXrgQoJfZ89W2D3hsGbuggOQe6FgaZUoQ=s978");
  height: 60rem;
  background-size: cover;
  background-position: top;
  color: #ccc;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-line h1 {
  font-weight: 100;
}

.content-section {
  padding: 4rem 1.4rem;
}

.section-title {
  display: inline-block;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5rem;
}

.why {
  background: #262626;
  color: #fff;
}

.content-text {
  font-size: 1.4rem;
  color: #ccc;
}

.what {
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(51,51,51,0.8)), url("images/pexels-photo-574071.jpeg");
  background-size: cover;
  background-position: top;
}

.what .section-title {
  color: #fff;
}

.what .content-text {
  color: #fff;
}

.who {
  background: #fff;
}

.who .content-text {
  color: #262626;
}

.services {
  /* technology-servers-server-159282 */
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(51,51,51,0.8)), url("images/technology-servers-server-159282.jpeg");
  background-size: cover;
  background-position: top;
}

.services .section-title {
  color: #fff;
}

.services-ct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.service-offering {
  font-size: 1.8rem;
  /* text-transform: uppercase; */
  color: #fff;
  font-weight: 100;
  word-wrap: break-word;
}

.values {
  background: #262626;
}

.values .section-title {
  color: #fff;
}

.values ul {
  list-style: none;
  padding: 0;
}

.values li {
  margin-bottom: 4rem;
}

.values h3 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.values .content-text {
  color: #666666;
}

#main-footer {
  padding: 3rem 0;
  background: #264d73;
  color: #fff;
  line-height: 3rem;
}

.copyright, .contact-info, .social-media {
  text-align: center;
  font-size: 1.4rem;
}

.contact-info a {
  /* text-decoration: none; */
  color: #ccc;
}

.social-media li {
  display: inline-block;
  margin-right: 1em;
}
.social-media img {
  height: 3.2rem;
  width: 3.2rem;
  border: 3px solid #264d73;
  border-radius: 50%;
  cursor: pointer;
}
.social-media img:hover {
  border-color: #ccc;
  transition: all 1s;
}

/* Media queries */
@media (min-width: 600px) {
  #main-header .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    margin-left: auto;
    width: 30rem;
  }

  #secondary-header {
    display: none;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .nav-links a:hover {
    border: 2px solid white;
  }

  .grid {
    padding-left: 20%;
    padding-right: 20%;
  }
  .hamburger {
    display: none;
  }

  .tag-line {
    font-size: 3.2rem;
  }

  .content-section {
    min-height: 23rem;
  }

  .values ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }

  .content-text {
    margin-bottom: 1.4rem;
    max-width: 60rem;
  }

  .services-ct {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}